.slider-main .slider__container {
    display: flex;
    justify-content: center;
    position: relative;
}

.slider-main .slider__container img {
    height: 0;
    width: 100%;
    z-index: -2;
}

.slider-main .carousel-control-prev,
.slider-main .carousel-control-next {
    position: absolute;
    top: 50%;

    height: 50px;
    width: 30px;
    border: none;
    outline: none;

    cursor: pointer;
    
    display: none;
    align-items: center;
    justify-content: center;


    @media all and (max-width: 600px) {
        display: none !important;
    }
}

.slider-main:hover .carousel-control-prev,
.slider-main:hover .carousel-control-next {
    display: flex;
}

.slider-main .carousel-control-prev:hover,
.slider-main .carousel-control-next:hover {
    background: rgba(0, 0, 0, 0.5);
}

.slider-main .carousel-control-prev .arrow, 
.slider-main .carousel-control-next .arrow {
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
}

.slider-main .carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: #C4C4C4;
    opacity: 0.5;
}